/* styles.css */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-bar {
    height: 50px;
    background-color: #1e1e1e;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-group {
    display: flex;
    align-items: center;
}

.group-1 {
    margin-right: 20px;
    margin-left: 20px; /* 追加された左側のスペース */
}

.group-2 {
    margin-right: auto;
    margin-left: 1px;
}

.group-3 {
    margin-right: 10px;
    margin-left: auto;
}

.menu-bar button {
    background-color: #0078d4;
    color: white;
    border: none;
    font-size: 12px;
    font-family: auto;
    line-height: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.menu-bar button:hover {
    background-color: #005a9e;
}

.editor-container {
    flex: 1;
    display: flex;
    overflow: hidden;
    width: 100%;
    background-color: #f5f5f5;
}

.file-explorer {
    width: 250px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    border-right: 1px solid #e0e0e0;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.code-editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.tab-bar {
    background-color: #eeeeee;
    padding: 5px 10px;
    display: flex;
    border-bottom: 1px solid #cccccc;
}

.tab {
    padding: 10px 15px;
    margin-right: 5px;
    background-color: #cccccc;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #bbbbbb;
}

.active-tab {
    background-color: white;
    border: 1px solid #cccccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

#editor {
    flex: 1;
    padding: 15px;
    font-family: monospace;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: calc(100% - 40px);
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.output_area {
    margin-top: 10px;
    padding: 5px;
    background: #f1f1f1;
    font-size: 0.9em;
    height: 20%;
    border-top: 1px solid #ccc;
    /* display: flex;
    flex-direction: column; */
}

button.run-btn {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #28a745; /* 緑色 */
    color: white;
    font-weight: bold;
    /* width: 10%; */
}

#output {
    width: 100%;
    height: 80%;
    background: #f1f1f1;
    font-size: 0.9em;
    overflow-x: auto;
    overflow-y: auto;
}

.CodeMirror {
    /* border-top: 1px solid black; border-bottom: 1px solid black; */
    /* height: 100px; */
    flex: 1;
    padding: 15px;
    font-family: monospace;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: calc(100% - 40px);
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

/* .keyword { color: blue; }
.variable { color: green; }
.string { color: red; }
.comment { color: grey; } */
